@{
    ViewBag.Title = "Home Page";
    if (Session["USER"] == null)
    {
        Response.Redirect("~/Login/Login");
    }
    String userName = (Session["USER"]).ToString();
}

<div class="jumbotron">
    <h1>Bienvenidos a Vuela S.A.</h1>
    <p class="lead">Vuela es una aplicación web para que, los clientes afiliados disfruten de una aplicación novedosa que cubra las necesidades que presentan ante la aerolínea</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Seguridad</h2>
         </div>
    <div class="col-md-4">
        <h2>Rapidez</h2>
       </div>
    <div class="col-md-4">
        <h2>Confiabilidad</h2>
    </div>
</div>